.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-text);
  background-color: var(--secondary-background);
  min-height: 100vh;
}

.mainSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 80%;
  padding-bottom: 40px;
  color: var(--primary-text);
}

.title {
  align-self: center;
  text-align: center;
  padding: 20px 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo {
  position: absolute;
  top: 10px;
  left: 20px;
}

@media (max-width: 600px) {
  .mainSection {
    padding-top: 60px;
  }
}
