.faqCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  min-height: 60px;
  width: 80%;
  padding: 5px 60px 5px 60px;
  border: 1px solid var(--primary-text);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.faqCard:hover {
  background-color: var(--secondary-background);
}

.faqQuestion {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

.faqAnswer {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
}

.faqAnswerVisible {
  max-height: 1000px;
  opacity: 1;
}

.faqLink {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  font-weight: bold;
  transition:
    max-height 0.4s ease,
    opacity 0.4s ease;
}

.faqLinkVisible {
  max-height: 1000px;
  opacity: 1;
}

.faqLinkVisible:hover {
  opacity: 0.5;
}

@media (max-width: 600px) {
  .faqCard {
    padding: 5px 30px 10px 30px;
  }

  .faqQuestion {
    font-size: 18px;
  }

  .faqAnswerVisible {
    font-size: 16px;
  }

  .faqLinkVisible {
    font-size: 16px;
  }
}
