.informationCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12;
  height: 600;
  width: 400;
}

.informationCardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  border: 1px solid var(--primary-text);
  width: 100%;
}

.informationCardName {
  font-size: 24;
  font-weight: bold;
  margin-bottom: 10;
}

.informationCardDescription {
  font-size: 16;
  margin-bottom: 10;
  min-height: 200;
}

.informationCardImage {
  object-fit: cover;
  width: 400;
  height: 300;
  border-radius: 50% 50% 0 0;
}

@media (max-width: 600) {
  .informationCard {
    height: 500;
    width: 300;
  }

  .informationCardImage {
    width: 300;
    height: 250;
    border-radius: 50% 50% 0 0;
  }
}
