.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-text);
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
}

.sectionTitle {
  font-size: 42px;
  margin-bottom: 60px;
  font-family: var(--font-catchy);
}

.heroSection {
  background: url("../assets/main_background.png") center/cover no-repeat;
}

.heroSection::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 2;
  font-family: var(--font-catchy);
}

.heroTitle {
  font-size: 100px;
  height: 120px;
  letter-spacing: 3px;
  color: var(--white);
}

.heroSubtitle {
  font-size: 44px;
  color: var(--white);
}

.heroButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-end;
  width: 180px;
  height: 40px;
  bottom: 120px;
  background-color: var(--primary-background);
  font-family: var(--font-dm-sans);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.heroButton:hover {
  cursor: pointer;
  background-color: #fff6ee;
}

.aboutSection {
  background-color: var(--primary-background);
  min-height: 80vh;
}

.aboutContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  width: 80%;
}

.aboutContent {
  width: 800px;
}

.aboutSectionText {
  font-size: 20px;
  margin-bottom: 12px;
}

.aboutImage {
  height: 550px;
  width: 400px;
  border-radius: 200px 200px 0 0;
  object-fit: cover;
}

.aboutPilatesSection {
  min-height: 80vh;
  background-color: var(--secondary-background);
}

.aboutPilatesContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 90%;
}

.aboutPilatesParagraph {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.aboutPilatesQuestion {
  font-size: 18px;
  font-weight: 600;
}

.aboutPilatesAnswer {
  font-size: 16px;
}

.aboutPilatesListDisc {
  list-style-type: disc;
  padding-left: 30px;
}

.coachSection {
  background-color: var(--primary-background);
  align-items: flex-start;
}

.coachContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  width: 80%;
}

.coachCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 80px 80px;
  width: 100%;
  margin-top: 2rem;
}

.classesSection {
  background-color: var(--secondary-background);
  align-items: flex-start;
  min-height: unset;
}

.classesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

.classesCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px 80px;
  width: 100%;
  margin-top: 2rem;
}

.scheduleSection {
  background-color: var(--primary-background);
  align-items: flex-start;
  min-height: fit-content;
}

.scheduleContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
  width: 90%;
}

.scheduleSectionTitle {
  align-self: center;
  margin-bottom: 40px;
}

.scheduleInfoTitle {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: var(--font-catchy);
  font-size: 22px;
  text-decoration: underline;
  font-style: italic;
}

.scheduleInfoDescription {
  font-size: 16px;
}

.scheduleLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: var(--primary-text);
  color: var(--white);
  font-size: 20px;
  text-transform: uppercase;
  transition: opacity 0.2s ease;
}

.scheduleLink:hover {
  opacity: 0.9;
}

.priceSection {
  background-color: var(--secondary-background);
  align-items: flex-start;
  min-height: unset;
}

.priceContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  width: 80%;
}

.priceCards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px 20px;
  width: 100%;
  margin-top: 2rem;
}

.faqSection {
  background-color: var(--primary-background);
  align-items: flex-start;
}

.faqContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin-bottom: 40px;
}

.contactSection {
  align-items: flex-start;
  min-height: 60vh;
  background-color: var(--primary-text);
  color: var(--primary-background);
}

.contactSectionTitle {
  margin-bottom: 40px;
}

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 80%;
  margin-top: 60px;
  gap: 10px;
  text-align: center;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 400px;
  gap: 10px;
  text-align: center;
}

.contactImage {
  height: 500px;
  width: 550px;
  border-radius: 40% 40% 0 0;
  object-fit: cover;
}

.contactDetail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contactSocialIcon {
  font-size: 32px;
}

.contactLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 300px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid var(--white);
}

.footer {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

@media (max-width: 1100px) {
  .aboutSectionText {
    font-size: 16px;
    margin-bottom: 12px;
  }
}

@media (max-width: 900px) {
  .heroTitle {
    font-size: 70px;
    height: 100px;
  }

  .heroSubtitle {
    font-size: 40px;
  }

  .aboutContainer {
    flex-direction: column;
  }

  .aboutContent {
    width: unset;
  }

  .aboutPilatesContainer {
    width: 80%;
  }

  .scheduleContainer {
    width: 80%;
  }

  .contactContainer {
    margin-top: 10px;
  }

  .contactImage {
    display: none;
  }
}

@media (max-width: 600px) {
  .heroSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .heroContent {
    padding-top: 140px;
  }

  .heroTitle {
    font-size: 50px;
    height: 150px;
  }

  .heroSubtitle {
    padding-top: 20px;
  }

  .footer {
    font-size: 12px;
  }
}
